.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-field i {
    position: absolute;
    right: 1em;
    top: 0.5em;
    color: rgb(51, 51, 231);
}

.input-field input {
    outline: none;
    height: 2em;
    border-radius: 0.5em;
    width: 30em;
}

.input-field span {
    color: orangered;
    display: none;
    
}

.check {
    display: flex;
    align-items: center;
    color: white;
}

input[type=checkbox] {
    width: 2em;
}
