body {
    text-align: center;
    user-select: none;
    background-image: url(./components/background.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.layout {
    display: flex;
    /* border: 1px solid black; */
}

.layout .imageSide {
    /* border: 1px solid black; */
    /* background-image: url(./components/Welcom.jpg); */
    /* flex: 5; */
    background-repeat: no-repeat;
}
.signup{
    color: white;
    font-size: 3em;
}
form {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
    /* border: 1px solid black; */
    width: fit-content;
    margin: auto;
    background-color: rgba(116, 217, 173, 0.1);
    padding: 2em 6em;
    border-radius: 2em;
}

.submit-button{
    padding: 1em 3em;
    border-radius: 0.5em;
    color: white;
    background-color: rgb(1, 1, 58);
    border: none;
    
}

@media (max-width: 800px) {
    h1 {
        color: black
    }
}